#categoryForm {

}

#categoriesCheckboxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

}

.categoryLabel {
    width: fit-content;
}

.categoryInput {

}

#submitButton {
    width: fit-content;
}