.productTile {
    position: relative;
    background: lightgrey;
    width: 250px;
    height: 175px;
    border: 2px ridge whitesmoke;
}

.productName {
    color: blue;
    padding-left: 7px;
    margin-bottom: 5px;
}

.productDesc {
    padding-left: 7px;
}


.productPrice {
    position: absolute;
    bottom: 0;
    padding-left: 7px;
    font-size: 15px;
}